body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color:#363636;
  }
 
  .header {
    background-color:#363636;
    height: 80px;
    padding-top: 15px;
  }  

  .titulo_header {
    float: left;
    color: lightskyblue;
    padding-left: 50px;
  }

  .titulo_header img {
    height: 30px;
  }

  .titulo_header h1 {
    display: inline-block;
  }

  .login img {
    height: 30px;
    padding-left: 83%;
    padding-top: 1%;
    position: absolute;
  }
  
  .navegacao {
    float: right; 
  }
  
  .navegacao li{
    display: inline-block;
    padding: 10px 70px 0 0px;
    font-size: 20px;
    color: white;
  }

  .navegacao .simulator{
    color: lightskyblue;
  }
  
  .plano_fundo {
    height: 580px;
    padding: 10px 0px 0px 0px;
  }

  .exibicao .plano_fundo img {
    height: 300px;
    margin-left: 10%;
  }

  .exibicao .texto_exibicao {
    color: white;
    height: 350px;
    margin-left: 700px;
    margin-top: 80px;
    }
  .exibicao .sub_titulo {
    color: white;
    padding-left: 820px;
    font-size: 30px;
    text-transform: uppercase;
  }

  .exibicao .texto_exibicao {
    font-size: 13px;
    margin-top: -20%;
  }

  .exibicao .texto_exibicao .text_vacin {
    color: lightskyblue;
  }

  .exibicao .linha_retangular {
    background-color: rgba(135, 206, 250, 0.774);
    padding: 3px 3px 3px 3px;
    width: 450px;
  }

  .exibicao .texto_exibicao .text_quantidade {
    color: lightskyblue;
  }
  .exibicao .texto_exibicao .text_perdidas {
    color: lightskyblue;
  }

  .exibicao .texto_exibicao .all_select #inp_vacina{
    border-radius: 10px;
    background-color: rgba(87, 87, 87, 0.904);
    color: white;
    font-family: monospace;
    padding: 2px;
  }

  .exibicao .texto_exibicao .all_select #qtd_vacina{
    border-radius: 10px;
    background-color: rgba(87, 87, 87, 0.904);
    color: white;
    font-family: monospace;
    padding: 2px;  
  }

  .exibicao .texto_exibicao .all_select #qtd_vacinas_perdidas{
    border-radius: 10px;
    background-color: rgba(87, 87, 87, 0.904);
    color: white;
    font-family: monospace;
    padding: 2px;  
  }

  .exibicao .texto_exibicao button {
    border-radius: 10px;
    background-color: rgba(87, 87, 87, 0.904);
    color: lightskyblue;
    font-family: monospace;
    padding: 4px;
  }
