/* Global */

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #363636;
}

.header{
    background-color: #393B44;
    height: 110px;
    padding-top: 25px;
}

.header .nav .current a,
.header span{
    color: #9DD2EE;
}

.container{
    /* Largura do elemento */ 
    width: 80%;
    margin: auto;

    /* height: 50px; */
}

.container img{
    width: 12%;
    float: left;
}


.title-header h1,
.nav ul
{
    margin: 0;
}

.title-header{
    float: left;
    color: #ffffff;
}

.title-header h2{
    padding-top: 15px;
}

.nav{
    float: right;
}

.nav a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 25px;
}

.nav li{
    display: inline-block;
    padding: 20px;
    padding: 10px 20px 0px 20px;
    
}
/* FIM Global */

/* SHOWCASE */
.showcase p{
    font-size: 22px;
}

/* CARROSSEL E VITRINE */

/* Vitrine do Carrosel do index */
.texto_index{
    font-size: 70pt;
    padding-bottom: 80px;
}
.img_index{
    text-align: center;
    padding-top: 250px;
}

.V_estilizado {
    color: #9DD2EE;
}
/* FIM Vitrine do Carrosel do index */

/* # pois já tem uma class atribuida nela que está pegando da biblioteca # é usado para atribuir estilos em um id */
/* Vitrine do Carrossel do missão visao e valores */
#caption-missao-visao-valores h3{
    font-size: 80px;
    padding-bottom: 125px;
} 

.box {
    padding-left: 20px;
}

.box .box-item{

    text-align: center;
    float: left;
    padding-left: 140px;

}

.box .box-item p{
    font-size: 12pt;
}

/* Uma div na linha 96, justamente para subir os itens acima (imagens e textos), o conteudo dessa div não aparece, esta com display none */
.Auxiliar {
    padding-bottom: 430px;
}
.Auxiliar p{
    display: none;
}
/* FIM auxiliar */
/* FIM Vitrine do Carrossel do missão visao e valores */


/* # pois já tem uma class atribuida nela que está pegando da biblioteca # é usado para atribuir estilos em um id */
/* Vitrine do Carrossel do sobre nos*/

#caption-sobre_nos h3{
    font-size: 80px;
    padding-bottom: 120px;
    
}
#caption-sobre_nos p{
    font-size: 45px; 
    padding-bottom: 110px;
}
/* FIM Vitrine do Carrossel do sobre nos*/

/* Vitrine do Carrossel do Simulador Financeiro */

.titulo-vitrine{
    padding-bottom: 50px;

}

.subtitulo-vitrine{
    padding-bottom: 30px;
}

.btn-vitrine{
    background: none;
    color: white;
    font-size: 20pt;
    border-color: #9DD2EE;
    border-width: 5px;
    height: 85px;
}

.saiba_mais_estilizado{
    padding-right: 40px;
}
/* FIM Vitrine do Carrossel do Simulador Financeiro */
/* FIM CARROSSEL E VITRINE */

/*FIM SHOWCASE*/



