/* Global */

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #363636;
}

.header{
    background-color: #393B44;
    height: 110px;
    padding-top: 25px;
}
.imagemlogo{
    position: absolute;
    left: 125px;
    width: 122px;
    height: auto;
    top: 0px;
}
.header .nav .current a, span{
    color: #9DD2EE;
}

.header a:hover{
    text-decoration: none;
    color: #9DD2EE;
}

.header .icon_login img{
    width: 35px;
    margin-top: 19px;
    padding-right: 145px;
}

.Headertexto{
    position: absolute;
    width: 671px;
    height: 52px;
    left: 246px;
    top: 49px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 52px;
    /* identical to box height */


    color: #FFFCFC;

    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.container{
    /* Largura do elemento */ 
    width: 80%;
    margin: auto;

    /* height: 50px; */
}
.linkslista{
    position: absolute;
    left: 1000px;
    top: 40px;
}
.title-header h1,
.nav ul
{
    margin: 0;
}

.title-header{
    float: left;
    color: #ffffff;
}

.title-header h2{
    padding-top: 15px;
}

.nav{
    float: right;
}

.nav a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 25px;
}

.nav li{
    display: inline-block;
    padding: 20px;
    padding: 10px 20px 0px 20px;
    
}

.slide1{
    position: absolute;
    width: 412px;
    height: 582px;
    left: 193px;
    top: 164px;
    
    background: rgba(157, 210, 238, 0.7);
    border-radius: 50px;
}
.listalite{
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.50);
    list-style:none;
}

.comeceagora {
    position: absolute;
    width: 960px;
    height: 60px;
    left: 710px;
    top: 149px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 60px;
    /* identical to box height */


    color: #FFFFFF;

    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.slide2{
    /* Rectangle 24 */

    position: absolute;
    width: 398px;
    height: 460px;
    left: 770px;
    top: 235px;

    background: rgba(86, 79, 79, 0.2);
    border-radius: 50px;
}
.slide3{
    position: absolute;
    width: 398px;
    height: 460px;
    left: 1300px;
    top: 235px;

    background: rgb(105, 152, 177);
    border-radius: 50px;
}
.buttonslide2{
    position: absolute;
width: 310px;
height: 81px;
left: 810px;
top: 669px;

background: rgba(196, 196, 196, 0.1);
border-radius: 50px;
}
.buttonslide3{
    /* Rectangle 29 */
    position: absolute;
    width: 310px;
    height: 81px;
    left: 1348px;
    top: 670px;

    background:  #FFFFFF;
    border-radius: 50px;
}
.comecar2{
    position: absolute;
    width: 244px;
    height: 23px;
    left: 860px;
    top: 696px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-weight: 900;
    font-size: 21px;
    line-height: 25px;

    color:rgba(157, 210, 238, 1);

    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.comecar3{
    position: absolute;
    width: 244px;
    height: 23px;
    left: 1400px;
    top: 696px;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
    
    color: #363636;
    
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.slide1salve{
    position: absolute;
    width: 386px;
    height: 79px;
    left: 197px;
    top: 220px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.imagemslide1{
    position: absolute;
    /* width: 273px; */
    height: 250px;
    left: 219px;
    top: 458px;
    background: rgba(0, 0, 0, 0.25);
}
.slide2 li{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: large;
    color: white;
    padding: 16px;
}

.slide2 h1{
    color: white;
    font-weight: 100;
    font-size: x-large;
    margin-left: 41px;
    margin-top: 35px;
}

.litereais{
    position: absolute;
    width: 192px;
    height: 64px;
    left: 1000px;
    top: 256px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;

    color: #FFFFFF;

    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.litepormes {
    position: absolute;
    width: 192px;
    height: 64px;
    left: 1098px;
    top: 292px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.slide3 li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-style: bold;
    color:#363636;
    padding: 14px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}
.slide3 h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #363636;
    padding-left: 20px;
    margin-right: 200px;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);

    margin-left: 20px;
    border-radius: 20px;
}
.premiumreais{
    position: absolute;
    width: 192px;
    height: 64px;
    left: 1480px;
    top: 255px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;

    color: #363636;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    margin-right: 330px;
    padding-right: 0px;
    padding-left: 50px;
    border-radius: 20px;

}
.premiumporano{
    position: absolute;
    width: 192px;
    height: 64px;
    left: 1600px;
    top: 290px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    color: #363636;

    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}

/* FOOTER */
.footer{
    background-color: #363636;
    width: 100%;
    height: 210px;
    background-image: url(../img/onda3.png);
    background-size: cover;
    padding-bottom: 10px;

}

.footer p{
    text-align: center;
    color: white;
    font-size: 23px;
    padding-top: 165px;
    margin-bottom: -15px;
}

.footer a{
    padding-left: 20px;
    color: white;
    text-decoration: none;
}

.footer a:hover{
    color: #9DD2EE;
    text-decoration: none;
}

/* Fim FOOTER */

.conteudo {
    /* background-color: violet; */
    height: 690px;
    width: 100%;
}
.listapremium{
    list-style:none;
    color: #363636;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}