/*HEADER CSS*/
body {
    position: relative;
    padding: 0 1rem;
    font-family: 'Roboto', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    background-color: #363636;
    
}


.l-navbar {
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #363636;
    padding: .5rem 1rem 0 0;
    transition: .5s;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* overflow: hidden; */
}

.nav_logo, .nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0 0 0 1.5rem;
}

.nav_logo {
    margin-bottom: 2rem;
    padding: 0 20px 0 10px;
    text-decoration: none;
   
}

.nav_logo-icon {
    /* width: 63px;
    height: 89px; */
    color: white;
    /* width: 60px; */
    height: 60px;
  
}

.nav_logo-name {
    position: absolute;
    width: 152px;
    height: 52px;
    left: 68px;
    top: 17px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 52px;
    color: #FFFCFC;
 
}

.nav_link {
    position: relative;
    color: #FFFFFF;
    opacity: 0.4;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 1.5rem;
    transition: .3s;
    margin-left: 10px;
    text-decoration: none;
    width: 25px;
    height: 25px;
    font-size: 21px;
}

.nav_icon {
    font-size: 1.25rem;
}

.nav_link-est {
    color: #FFFFFF;
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0 0 .2rem 1.5rem;
    position: relative;
    margin-bottom: 1.5rem;
    transition: .3s;
    margin-left: 10px;
    text-decoration: none;
    width: 25px;
    height: 25px;
    font-size: 21px;
}

.nav_icon-est {
    font-size: 21px;
    color: #9ee2dd
}

.linha-vertical {
    height: 0px;
    /*Altura da linha*/
    border-left: 11px solid;
    /* Adiciona borda esquerda na div como ser fosse uma linha.*/
    
}

.box {
    width: 50%;
    float: left;
    height: 660px;
    /*Altura da linha*/
    top: -10px;
    position: absolute;
    margin-left: 250px;
}

.linha-vertical {
    border-left: 0.5px solid;
    /* Adiciona borda esquerda na div como ser fosse uma linha.*/
    box-sizing: border-box;
    height: 100%;
    margin-left: 270px;
}

.estatistica_box {
    position: absolute;
    width: 239px;
    height: 105px;
    left: 10px;
    right: 10px;
    top: 340px;
    background: rgba(157, 210, 238, 0.8);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-left: 10px;
}

.estatistica_item {
    text-align: center;
    width: 204px;
    height: 15px;
    left: 49px;
    top: 475px;
    padding: 15px;
    font-family: Roboto, sans-serif;
    line-height: 15px;
    color: #FFFFFF;
}

.estatistica_item i, span {
    font-size: 20px;
}

.estatistica_item p {
    font-size: 15px;
}

.section-not {
    float: left;
    width: 100%;
}

.notificacao-box {
    position: absolute;
    width: 239px;
    height: 250px;
    left: 10px;
    right: 10px;
    top: 480px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    border-radius: 15px;
    margin-left: 10px;
}

.notificacao_item {
    text-align: center;
    width: 204px;
    height: 15px;
    left: 49px;
    top: 475px;
    padding: 15px;
    font-family: Roboto, sans-serif;
    color: rgba(0, 0, 0, 0.3);
    line-height: 15px;
}

.notificacao_item i {
    width: 100px;
    height: 100px;
    left: 93px;
    top: 676px;
    font-size: 100px;
    color: rgba(0, 0, 0, 0.3);
}

/*FIM HEADER */

.plano_box button {
    position: absolute;
    width: 239px;
    height: 79px;
    /* left: 1090px; */
    right: 150px;
    top: 55px;
    background: #9dd2ee;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.plano_box2 button {
    position: absolute;
    width: 150px;
    height: 42px;
    left: 480px;
    /* right: 150px; */
    top: 30px;
    background: rgba(157, 210, 238,0.2);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.plano_item2 p{
    margin: 0;
    font-size: 25px;
    color: white;
}


.plano_item button {
    text-align: center;
    width: 204px;
    height: 15px;
    left: 49px;
    padding: 15px;
    font-family: Roboto, sans-serif;
    line-height: 15px;
    color: #FFFFFF;
}

.plano_item i {
    position: absolute;
    font-size: 40px;
    left: 190px;
    text-align: center;
    top: 0px;
    color: #FFFFFF;
}

.plano_item span {
    font-size: 15px;
    color: #FFFFFF;
}

.container {
    position: absolute;
    width: 541px;
    height: 10px;
    left: 314px;
    top: 50px;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.container span {
    font-size: 40px;
    top: 20px;
    position: absolute;
    left: 20px;
}

.data_box {
    position: absolute;
    width: 280px;
    height: 71px;
    top: 345px;
    float: left;
    /* background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 15px;
    left: 53px;
    font-size: 30px;
}

.data_box1 {
    position: absolute;
    width: 280px;
    height: 71px;
    top: 345px;
    left: 470px;
    float: left;
    /* background: rgba(0, 0, 0, 0.2); */
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 15px;
    font-size: 30px;
}

.data_box2 {
    position: absolute;
    width: 280px;
    height: 71px;
    top: 345px;
    left: 930px;
    float: left;
    /* background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 15px;
    font-size: 30px;
}


.data_item {
    text-align: center;
    width: 204px;
    height: 15px;
    left: 49px;
    top: 475px;
    padding: 15px;
    font-family: roboto;
    line-height: 15px;
    color: #FFFFFF;
}

.data_item img{
    margin-top: 189px;
    margin-left: 27px;
    width: 1260px;
}


.data_item span {
    position: absolute;
    width: 80px;
    height: 32px;
    left: 55px;
    top: 150px;
    font-family: roboto;
    font-style: normal;
    /* font-weight: bold; */
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.data_item1 span {
    position: absolute;
    width: 80px;
    height: 32px;
    left: 104px;
    top: -38px;
    font-family: roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 31px;
    color: #FFFFFF;
}

.data_item2 {
    width: 300px;
    font-size: 18px;
}

.data_item2 b{
    color: #888787;
}

