body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #363636;
}

.header{
  background-color: #393B44;
  height: 110px;
  padding-top: 25px;
  margin-left: -14px;
}

.header .nav .current a,
.header span{
  color: #9DD2EE;
}

.header a:hover{
  text-decoration: none;
  color: #9DD2EE;
}

.container{
  /* Largura do elemento */ 
  width: 80%;
  margin: auto;

  /* height: 50px; */
}

.container img{
  width: 12%;
  float: left;
}


.title-header h1,
.nav ul
{
  margin: 0;
}

.title-header{
  float: left;
  color: #ffffff;
}

.title-header h2{
  padding-top: 15px;
}

.nav{
  float: right;
}

.nav a{
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 25px;
}

.nav li{
  display: inline-block;
  padding: 20px;
  padding: 10px 20px 0px 20px;
  margin-right: 30px;
  
}

/* Posicionamento Login Icone */
.header .icon_login img{
  width: 35px;
  margin-top: 10px;
  float: right;
}
/* FIM Global */

/* body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color:#363636;
  } */
/*  
  .header {
    background-color:#363636;
    height: 80px;
    padding-top: 15px;
  }  

  .titulo_header {
    float: left;
    color: lightskyblue;
    padding-left: 50px;
  }

  .titulo_header img {
    height: 30px;
  }

  .titulo_header h1 {
    display: inline-block;
  }

  .login img {
    height: 30px;
    padding-left: 83%;
    padding-top: 1%;
    position: absolute;
  }
  
  .navegacao {
    float: right; 
  }
  
  .navegacao li{
    display: inline-block;
    padding: 10px 70px 0 0px;
    font-size: 20px;
    color: white;
  }

  .navegacao .simulator{
    color: lightskyblue;
  }
   */
  .plano_fundo {
    height: 607px;
    /* padding: 10px 0px 0px 0px; */
  }

  .exibicao{
    background-color: #363636;
  }

  .exibicao .plano_fundo img {
    height: 380px;
    margin-left: 168px;
    margin-top: 50px;
}
  

  .exibicao .texto_exibicao {
    color: white;
    height: 350px;
    margin-left: 700px;
    margin-top: 80px;
    }
  /* .exibicao .sub_titulo {
    color: white;
    padding-left: 820px;
    font-size: 30px;
    text-transform: uppercase;
  } */

  .plano_fundo h1{
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-left: 500px;
  }

  .exibicao .texto_exibicao {
    font-size: 20px;
    margin-top: -462px;
    margin-left: 955px;
  }

  .exibicao .texto_exibicao .text_vacin {
    color: lightskyblue;
  }

  .exibicao .linha_retangular {
    background-color: rgba(135, 206, 250, 0.774);
    padding: 3px 3px 3px 3px;
    width: 450px;
  }

  .exibicao .texto_exibicao .text_quantidade {
    color: lightskyblue;
  }
  .exibicao .texto_exibicao .text_perdidas {
    color: lightskyblue;
  }

  .exibicao .texto_exibicao .all_select #inp_vacina{
    border-radius: 10px;
    background-color: rgba(87, 87, 87, 0.904);
    color: white;
    font-family: monospace;
    padding: 2px;
  }

  .exibicao .texto_exibicao .all_select #qtd_vacina{
    border-radius: 10px;
    background-color: rgba(87, 87, 87, 0.904);
    color: white;
    font-family: monospace;
    padding: 2px;  
  }

  .exibicao .texto_exibicao .all_select #qtd_vacinas_perdidas{
    border-radius: 10px;
    background-color: rgba(87, 87, 87, 0.904);
    color: white;
    font-family: monospace;
    padding: 2px;  
  }

  .exibicao .texto_exibicao button {
    border-radius: 10px;
    background-color: rgba(87, 87, 87, 0.904);
    color: lightskyblue;
    font-family: monospace;
    padding: 4px;
  }

  /* FOOTER */
.footer{
  background-color: #363636;
  width: 100%;
  height: 220px;
  background-image: url(../img/onda3.png);
  background-size: cover;
  bottom: 0;
}

.footer p{
  text-align: center;
  color: white;
  font-size: 22px;
  padding-top: 165px;
  margin-bottom: -15px;
}

.footer a{
  padding-left: 20px;
  color: white;
}

.footer a:hover{
  color: #9DD2EE;
  text-decoration: none;
}

/*FIM FOOTER*/