@import 'contato.css';
html {
    scroll-behavior: smooth;
}

body{
    background-color: #101010;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    text-align: center;
    background-image: linear-gradient(#000000,#101010,#000000);
}
h1{
    font-size: 75px;
}
p{
    font-size: 25px;
    font-weight: 300;
}
h3{
    font-size: 30px;
}
a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
a:hover{
    font-size: 24px;
    transition: 0.3s;
}
a .loginli:hover{
    padding-left: 22px;
    padding-right: 25px;
    padding-bottom: 20px;
    margin-top: 0px;
    font-size: 20px;
}
.Docker-Main{
    width: 80%;
    margin: auto;
}
/* NAVBAR */
.logonavbar{
    width: 50px;
    float: left;
    padding-right: 850px;
    transition: 0.5s;
}
.logonavbar:hover{
    opacity: 0;

}
.navbar li{
    display: inline-block;
    list-style-type: none;
    font-weight: bold;
    margin: 10px 60px 0px 0px;
}
.loginli{
width: 45px;
height: 25px;
background-color: #9DD2EE;
border-radius: 25px;
padding-left: 25px;
padding-right: 25px;
padding-bottom: 10px;
padding-top: 10px;
transition: 0.3s;
}
.showcase-main{
    text-align: center;
    margin-top: 100px;
}
.showcase-main img:hover{
width: 700px;
}
.imgmapa{
    width: 650px;
    transition: 0.3s;
}
 button{
    background-color: #9DD2EE;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 25px;
    border: 0;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: 800;
    transition: 0.3s;
}
button:hover{
    width: 200px;
    height: 75px;
    font-size: 30px;
}
.buttonrgb{
    background-color: #363636;
    color: #9DD2EE;
}
.show2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.show2 h3{
    font-size: 50px;
}
.show2 span{
    font-size: 30px;
    color: #9DD2EE;
}
.cards .card{
    background:transparent;
    margin: 0rem 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 2rem;
    overflow: hidden;
}
.cards{
    display: flex;
    justify-content: space-between;
    color: white;
}
.CASE3{
    margin-top: 100px;
}
.CASE3 p{
    font-size: 30px;
    font-weight: 300;
}
.CASE3 h3{
    font-size: 50px;
    color: #9DD2EE;
}
.CASE3 button{
    margin-top: 75px;
    font-size: 30px;
    width: 200px;
    height: 75px;
    border-radius: 50px;
}
footer{
    margin-top: 200px;
}
footer h1{
    font-size: 45px;
    text-align: center;
}
footer .flex{
    display: flex;
    align-content: center;
    flex-direction: row;
    margin: 0 690px;
}
footer h4{
    font-size: 35px;
}
footer h3{
    margin-left: 500px;
}