body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #515050;
}

.title-header img {
    float: left;
    width: 20%;
}

.title-header h1 {
    padding-top: 20px;
    color: white;
}

.container {
    width: 250px;
}

.texto_logo {
    float: right;
}

.nav {
    float: left;
}
.nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15pt;
}

.nav li {
    display: block;
}

.nav .current {
    color: white;
}

.nav a {
    color: #111010;
}

.nav i {
    padding-right: 5px;
}

.nav li {
    padding-bottom: 15px;
}

.container .linha_azul {
    width: 2px;
    height: 45px;
    background-color: #9DD2EE;
    padding-left: 10px;
}

.container .fotos_menu {
    float: right;
}

.showcase .sensores {
    float: right;
    margin-right: 300px;
    max-width: 800px;
}

.conteudo {
    border: black;
    height: 400px;
    width: 250px;
    float: left;
}

.conteudo .conexao {
    background-color: #9DD2EE;
    width: 200px;
    height: 100px;
    margin-top: 160px;
    margin-left: 23px;
    border-radius: 20px;
    text-align: center;
    color: black;
}

.conteudo .conexao p {
    font-size: 10pt;
    font-weight: bold;
    padding-left: 5px;
}

.conteudo .relatorio img {
    margin-top: 40px;
}

.conteudo .relatorio button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: #000000bf;
    color: white;
    font-weight: bold;
    font-size: 15pt;
}

.conteudo .relatorio {
    background-color: #9DD2EE;
    width: 200px;
    height: 300px;
    margin-top: 20px;
    margin-left: 23px;
    border-radius: 20px;
    color: black;
    text-align: center;

}

.linha_preta {
    background-color: black;
    width: 3px;
    height: 1020px;
    margin-left: 500;
    float: right;
}


.showcase .hello {
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}

.showcase .icones {
    float: right;
    margin-top: 15px;
}

.sensores .lm35, .dht11 {
    background-color: rgba(0, 0, 0, 0.466);
    border-radius: 20px;
    text-align: center;
}

.sensores {
    float: left;
    margin-left: 64px;
    width: 1250px;
}

.showcase .sensores h1 {
    padding-top: 20px;
    

}

.showcase .hello {
    color: white;
}

.showcase .hello input {
    border-radius: 20px;
    width: 320px;
    height: 30px;
    background-color: #c4c4c410;
    color: white;
    background-image: url(lupa.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    font-size: 15pt;
    font-weight: bold;
    text-indent: 15px;
}

.layout_esquerda {
    float: right;
    padding-right: 40px;
    padding-top: 23px;
}

.showcase .icones .mode {
    background-image: url(day-and-night.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    border-color: #9DD2EE;
    
}

.showcase .icones .notify {
    background-image: url(notify.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #00000010;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    border-color: #9DD2EE;
    
}

.showcase .icones span {
    color: white;
    font-size: 25pt;
    margin-right: 20px;
}

.showcase .icones p {
    color: rgba(255, 255, 255, 0.797);
    font-weight: bold;
    font-size: 13pt;
    padding-bottom: 20px;
}

.layout_esquerda .user {
    width: 255px;
    text-align: center;
    height: 370px;
    background-color: rgba(0, 0, 0, 0.708);
    border-radius: 20px;
    padding-top: 20px;
}

.layout_esquerda .user h4 {
    color: white;
}

.layout_esquerda .user .settings {
    background-image: url(member.png);
    background-color: #00000010;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border-color: #9DD2EE;

}

.layout_esquerda .user .suport {
    background-image: url(conversation.png);
    background-color: #00000010;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border-color: #9DD2EE;

}

.layout_esquerda .lite {
    width: 255px;
    height: 322px;
    background-color: rgba(0, 0, 0, 0.466);
    border-radius: 20px;
    padding-top: 5px;
    text-align: center;
    color: white;
    margin-top: 20px;
}

.layout_esquerda .lite h3{
    font-size: 20pt;
}