/* Global */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;  
    color: #FFFCFC;
    background-color: #515050;
}

.container {
    margin: auto;
    padding-bottom: 200px;
    padding-top: 15px;
}

.container img{
    width: 30%;
    float: left;
    padding-left: 60px;
}

.container span {

    color: #9DD2EE;
    opacity: 0.5;

    
}

.header .texto-header {
    font-size: 24pt;
    padding-top: 40px;
}

.header .container h1 {
    padding-top: 60px;
}

.container .retangulo_azul {

    background-color: #9DD2EE;
    opacity: 0.5;
    width: 415px;
    height: 10px;
    padding-left: 97px;
    float: right;
    border-radius: 20px;
}

.container .title-header {
    float: left;
}

.container .planos {
    margin: 0;
    float: right;
    padding-top: 12px;
    padding-right: 80px;
}

.showcase .conteudo p {
    font-size: 15pt;
}

.showcase {
    text-align: center;
}

.showcase .conteudo {
    padding-left: 150px;
    float: left;
    padding-top: 70px;
}

.showcase .conteudo input {
    border-radius: 20px;
    height: 22px;
    background-color: #C4C4C4;
    opacity: 0.5;
    width: 300px;
}

.showcase .conteudo button {
    border-radius: 20px;
    height: 30px;
    background-color: #c4c4c41c;
    width: 100px;
    font-size: 12pt;
    font-style: italic;
    font-weight: bolder;
    color: #9DD2EE;
    font-size: 13pt;
}


.showcase .conteudo img {
    width: 50%;
}
.showcase span {
    color: #9DD2EE;
}

.showcase .imagem {
    float: right;
    width: 50%;
    padding-right: 250px;
}
